<div class="p-4 w-full" data-aos="fade-up">

    <div class="projects-card-container h-full border border-blue-400 border-opacity-60 rounded-2xl overflow-hidden bg-white">

        <div class="projects-card-image">
            <a 
                    target="_blank"
            >
                <img
                    class="w-full object-cover object-center" 
                    [src]="projectData().coverImagePath"
                    [alt]="projectData().title">
            </a>
        </div>

        <div class="p-6">

            
            
            <h2 class="tracking-widest text-sm my-4 title-font font-medium text-gray-600">
                {{ projectData().techStack.join(" | ") }}
            </h2>
            
            <p class="description-text leading-relaxed text-left text-lg mb-3 h-48" [title]="projectData().description">
                {{ projectData().description }}
            </p>
            
            <div class="flex items-center flex-wrap">
               
                <span
                    class="text-gray-400 inline-flex items-center ml-auto leading-none title-font py-1 border-gray-600">
                    {{ projectData().year }}
                </span>
            </div>
        </div>
    </div>
</div>
