<div class="flex my-8 mx-auto flex-wrap md:flex-nowrap ">
    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col mx-auto align-center justify-center" data-aos="fade-right">


        <span class="font-semibold my-4 title-font text-gray-700 text-center">
            {{ education().duration }}
        </span>

       

    </div>
    <div class="md:flex-grow" data-aos="fade-left">

        <h2 class="text-2xl font-bold text-gray-900 mb-2">

            {{ education().degreeName }}

            @if (education().majorName) {
                ({{ education().majorName }})
            }
        </h2>
        
        <h3 class="md:text-left text-lg mt-2 tracking-wide">
            {{ education().universityName }} 
            
          
        </h3>

    </div>
</div>